* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
  margin: 2px;
}

p,
span,
label,
input,
button,
textarea,
select,
option {
  font-family: "Lato", sans-serif;
  margin: 3px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #3c3c3b;
  height: 100vh;
}

.app__form {
  display: flex;
  height: 45vh;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  border-bottom: 1px solid #f39200;
  padding: 5px 0 20px 0;
}

.app__form textarea {
  max-height: 130px;
  max-width: 80vw;
}

label,
span {
  font-weight: 700;
}

input,
textarea {
  width: 50vw;
  border: 1px solid #dadada;
  margin-bottom: 3px;
}

button {
  border: 0.5px solid #3c3c3b;
  background: #878786;
  color: #fff;
  width: 200px;
}

select {
  width: 100px;
  height: 20px;
}

.app__invoices {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5px;
  height: 55vh;
}

.app__invoices__display {
  padding: 5px;
  overflow: scroll;
  margin: 0;
}
.app__invoices__display--read,
.app__invoices__display--edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding-bottom: 8px;
  border: 1.5px solid #f9e547;
  margin: 5px;
}

.overdue {
  background: #f6ebeb;
}

.paid {
  background: #eceeba;
}

.app__invoices__display--edit input {
  width: 250px;
}

.app__invoices__display--edit textarea {
  width: 250px;
  max-height: 12vh;
  resize: vertical;
}

@media (min-width: 768px) {
  .app__invoices__display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .app__invoices__display--read,
  .app__invoices__display--edit {
    width: 30vw;
  }

  .app__invoices__display--edit input {
    width: 28vw;
  }

  .app__invoices__display--edit textarea {
    width: 28vw;
    max-height: 12vh;
    resize: vertical;
  }
}
