* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #3f3f3f;
  background: rgb(230, 230, 230);
}

.app {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.app__form {
  flex: 1;
  padding: 5px;
  border-bottom: 1px dashed black;
}

.app__form,
input,
textarea {
  width: 95vw;
}

.app__invoices {
  display: flex;
  flex: 2;
  flex-direction: column;
  padding: 5px;
}

select {
  width: 10vw;
}

.app__invoices__display {
  display: flex;
  flex-direction: row;
  padding: 5px;
  overflow: scroll;
  margin: 0;
}
.app__invoices__display--read {
  min-width: 300px;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background: #f6ebeb;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app__invoices__display--edit {
  width: 98vw;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background: #f6ebeb;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2,
label,
button {
  font-family: "Montserrat", sans-serif;
}

p,
input,
textarea,
select,
option {
  font-family: "Lato", sans-serif;
}

@media (min-width: 768px) {
  .app {
    flex-direction: row;
  }

  .app__form,
  input,
  textarea {
    width: 45vw;
  }

  .app__form {
    width: 48vw;
    border-bottom: 0px;
    border-right: 1px dashed black;
  }

  .app__invoices {
    width: 48vw;
    height: 100vh;
  }

  .app__invoices__display {
    flex-direction: column;
  }

  .app__invoices__display--read {
    width: 48vw;
    margin: 10px;
  }

  .app__invoices__display--edit {
    width: 48vw;
    margin: 10px;
  }
}
